body {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;

}


.open-sans {
    font-family: 'Open Sans', sans-serif;
    background-color: seashell;
}


ul {
    list-style-type:circle;   
}



.navflex {
    background-color: sandybrown;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}

.navflex ul{
    display: flex;    
}

li
    {
    margin:20px; 
    font-size: 25px;      
    }

.jumbotron 
    {
    background: url(./images/background.jpg) 50% 50%; 
    background-size: cover;
    height: 90vh;
    color: var(--white);
    }

.container-home 
    {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    }

.image-container 
    {
        margin-bottom: 16px;
        width: 100%;
        
    }

.text-container 
    {
        margin-bottom: 16px;
        background-color: rgba(231, 226, 226, 0.5);
        padding: 15px;
        color: rgb(58, 56, 56);
    }

.img-responsive 
    {
        width: 280px;
        height: 420px;
        position: relative;
    }
    