body {
   
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;

}


.open-sans {
    font-family: 'Open Sans', sans-serif;
    background-color: seashell;
}
h1{
    font-size: 35px;
}
/* Navigation */
ul {
    list-style-type:circle;   
}

.navflex {
    background-color: rgb(218, 203, 190);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}

.navflex ul{
    display: flex;    
}

li
    {
    margin:20px; 
    font-size: 20px;      
    }

    /* Jumbotron */
    
.jumbotron 
    {
    background: url(./images/background.jpg) 50% 50%; 
    background-size: cover;
    height: 90%;
    
    
    }

.container-home 
    {
    width: 90%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

.image-container 
    {
        margin-bottom: 16px;
        width: 100%;
        
    }

.text-container 
    {
        margin-bottom: 16px;
        background-color: rgba(231, 226, 226, 0.5);
        padding: 20px;
        color: rgb(58, 56, 56);
    }

.img-responsive 
    {
        width: 280px;
        height: 420px;
        position: relative;
    }
    